<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<!-- Set the viewport. -->
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1.0">
	<!-- Disable automatic phone number detection. -->
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<title>LGU+ 보이는 ARS</title>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../../../static/css/common.css">
	<link rel="stylesheet" type="text/css" href="../../../static/css/style.css">
	<link rel="stylesheet" type="text/css" href="../../../static/css/start.css">

	<!-- Scripts -->
</head>
<body>
	<div class="page-wrapper">
		<!-- container -->
		<div class="container">
			<div class="section__cont">
				<div class="cont__wrap cont__wrap-layout singleCont middleAlign start">
					<div class="inform-wrap">
						<span class="img-box">
							<img src="../../../static/images/img/logo-lg.svg">
						</span>
						<div class="text-box">
							<span class="tit">모바일 고객센터입니다<br/>연결할 채널을 선택해주세요</span>
						</div>
					</div>
				
					<div class="card-group">
						<div class="card">
							<div class="card-body">
								<div class="card__util">
									<span class="img-box">
										<img src="../../../static/images/icon/ic-card-vars.svg" alt="보이는 ARS">
									</span>
								</div>
								<div class="card__text">
									<h3 class="tit">보이는 ARS</h3>
									<p class="txt">화면을 보고 스스로 탐색하고 선택</p>
								</div>
							</div>
							<div class="card-footer">
								<div class="btn-group">
									<button type="button" class="btn btn-md btn-prim" >
										<span class="txt">연결</span>
									</button>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-body">
								<div class="card__util">
									<span class="img-box">
										<img src="../../../static/images/icon/ic-card-ars-ai.svg" alt="AI 상담">
									</span>
								</div>
								<div class="card__text">
									<h3 class="tit">AI 상담</h3>
									<p class="txt">AI상담사에게 문의사항 직접 말하기</p>
								</div>
							</div>
							<div class="card-footer">
								<div class="btn-group">
									<button type="button" class="btn btn-md btn-prim" >
										<span class="txt">연결</span>
									</button>
								</div>
							</div> 
						</div>
						<div class="card">
							<div class="card-body">
								<div class="card__util">
									<span class="img-box">
										 <img src="../../../static/images/icon/ic-card-chatbot2.svg" alt="챗봇 상담">
									</span>
								</div>
								<div class="card__text">
									<h3 class="tit">챗봇 상담</h3>
									<p class="txt">챗팅으로 문의사항 확인하기</p>
								</div>
							</div>
							<div class="card-footer">
								<div class="btn-group">
									<button type="button" class="btn btn-md btn-prim" >
										<span class="txt">연결</span>
									</button>
								</div>
							</div> 
						</div>
						<div class="card">
							<div class="card-body">
								<div class="card__util">
									<span class="img-box">
										<img src="../../../static/images/icon/ic-card-calls.svg" alt="음성 ARS">
									</span>
								</div>
								<div class="card__text">
									<h3 class="tit">음성 ARS</h3>
									<p class="txt">음성안내를 듣고 키패드 숫자 입력</p>
								</div>
							</div>
							<div class="card-footer">
								<div class="btn-group">
									<button type="button" class="btn btn-prim" >
										<span class="txt">연결</span>
									</button>
								</div>
							</div> 
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- //container -->
	</div>	
</body>
</html>