body {
	background-color: var(--dt-gray05);
}

.cont__wrap.start {
	padding: 35px 16px 58px;
}

.start .inform-wrap {
	gap: 12px;
}
.start .inform-wrap .img-box {
	width: 68px;
	height: 68px;
}
.start .inform-wrap .tit {
	font-size: 22px;
	color: var(--dt-gray16);
	line-height: var(--dt-lh150);
}
.start .card-group {
	grid-template-columns: 1fr;
	gap: 12px;
}
.start .card,
.start .card-body,
.start .card-footer {
	flex-direction: row;
	align-items: center;
}
.start .card,
.start .card-body {
	gap: 10px;
}
.start .card-body {
	flex: 1 auto;
}
.start .card__text {
	display: flex;
	flex-direction: column;
	gap: 4px;
}
.start .card {
	min-height: 88px;
}
.start .card .img-box {
	width: 32px;
	height: 32px;
	min-width: 32px;
}
.start .card .tit {
	font-size: 18px;
	line-height: var(--dt-lh120);
}
.start .card .txt {
	line-height: 1;
}
.start .card .card-footer {
	flex: 0 0 auto;
	margin-top: unset;
}
.start .card .btn {
	padding: 10px;
}
.start .card .btn .txt {
	font-size: 14px;
	line-height: 1;
}